body { color: #333333; font-size: 16px; margin: 30px 40px; padding: 0; font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif; }
h1, h2, h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; }
h1 { font-size: 2em; margin: 0 0 5px 0; }
h2 { color: #999999; font-size: 1.2em; margin: 0 0 15px 0; }
h2 a, h2 a:hover, h2 a:active h2 a:visited { color: #999999; }
h3 { font-size: 1.2em; margin: 10px 0 5px 0; }
a { color: #3e68ff; }
p { margin: 0 0 10px 0; }
table { text-align: center; margin: 10px 0; border-collapse: collapse; }
th { background-color:#c6d2ff; border-bottom:1px solid #FFFFFF; padding:8px 12px; }
tbody tr:hover td { background-color:#d7e0ff; }
tbody td { background-color:#E8EDFF; border-bottom:1px solid #FFFFFF; padding:8px 12px; }
th.description, td.description { text-align:left; }
tfoot td{ text-align:left; font-size:.9em; padding:8px 12px; }
.asterisk { font-size:0.9em; }
.asterisk-sym { display:inline-block; min-width:15px; }